{% extends 'base.html.twig' %}
{% block message %}
{# je mets mon message dans un block message, qui  est redefini dan mon fichier twig#}
{#  si mon message est supprimé j'affiche mon message grace a la variable globale app sur l page principale#}
{%  for message in app.flashes ('success') %}
    <p>{{ message }}</p>
{% endfor %}
    <button class="but"><a href="{{ path('admin_category_insert') }}">créer votre categorie</a></button>
{% endblock message%}

{% block main %}
    <h1 class="cat">Mes  categories</h1>
<div class="container">
    {# je rappel le contenu de mes categories j'affiche un titre avec une couleur#}
{% for category in categorys %}
    {# je fais le lien vers la page category  #}
    <article class="article">
        <h2 class="titre">{{ category.title }}</h2>
        <a href="{{ path('categoryShow', {'id': category.id}) }}"></a>
        <div class="cont">
            {# j'affiche la date de création et publiée en ajoutant le filtre qui affichera la date  #}
            <button class="clic"><a href="{{ path('admin_category_update', {'id': category.id}) }}">modifier cette category</a></button>
            {#  Je créer le lien qui va supprimer la category de la liste via son id #}
            <button class="clic"><a href="{{ path('admin_category_delete', {'id': category.id}) }}">supprimer cette category</a></button>
        </div>
    </article>



{% endfor %}


{% endblock main%}
