{% extends 'base.html.twig' %}
{# j'utilise la fonction form de twig et en paramétre formView pour afficher la vue de mon formulaire #}

{% block main%}
    {%  for message in app.flashes ('success') %}
        <p>{{ message }}</p>
    {% endfor %}
    <h1 class="cree_categorie">Créer vos categories</h1>
    {# je crée un formulaire avec  form_start grace a cette fonction je vais pouvoir demander à sf  de
 generer un cabarit que je pourrai styliser avec bootstrap en placant chaque elements dans des div,
    #}
<form class="form">
    {{ form_start(formView) }}
    {# avec la fonction form_label je crée un label title  #}
<div class="form-group col-md-2">
    {{ form_label(formView.title) }}
    {# avec la fonction form_widget je crée un input  #}
    {{ form_widget(formView.title,{ 'attr':{'class':'article_form_title'}}) }}
    {{ form_errors(formView.title) }}
</div>
<div class="form-group col-md-2">
    {{ form_label(formView.color) }}
    {{ form_widget(formView.color,{ 'attr':{'class':'article_form_color'}}) }}
</div>

<div class="form-group col-md-2">
    {{ form_label(formView.date) }}
    {{ form_widget(formView.date,{ 'attr':{'class':'article_form_date'}}) }}

</div>
<div class="form-group col-md-2">
    {{ form_label(formView.createdDate) }}
    {{ form_widget(formView.createdDate,{ 'attr':{'class':'article_form_createddate'}}) }}
</div>
<div class="form-group col-md-2">
    {{ form_label(formView.published) }}
    {{ form_widget(formView.published,{ 'attr':{'class':'article_form_published'}}) }}
</div>
<div class="form-group col-md-2">
    {{ form_label(formView.valider) }}
    {{ form_widget(formView.valider,{ 'attr':{'class':'article_form_valider'}}) }}
</div>
{# form_end ferme mon formulaire #}
{{ form_end(formView) }}
</form>
{% endblock main%}