{% extends "base.html.twig" %}



{% block message %}

    {%  for message in app.flashes ('success') %}
    <p>{{ message }}</p>
    {% endfor %}

{% endblock message%}

{% block main %}
   <hr><h1>Bienvenue dans ma bibliothéque</h1>
<div class="container">
{% for article in articles %}
{# avec la boucle for j'appel un article dans mes articles avec clipable avec le lien a href  #}
{# avec la propriete path j'appel un de mes articles qui sera clipable et qui affichera le contenu
 de ma page modify_static.html.twig#}
{# avec la proprieté path je recupére un titre de mes articles et son id, grace au name de ma route articles #}
{# j'appel mes images et mes titres  #}
    <article class="article">
        <h2>{{ article.title }}</h2>
         <div class="content">
             <img src="{{ article.image }}" alt="" class="resp">
            <p id="test">{{ article.content }}</p>
             <button class="button"><a href="{{ path('article_delete', {'id':article.id}) }}">supprimer</a></button>
             <button class="button"><a href="{{ path('articlelist', {'id':article.id}) }}">modifier</a></button>
       </div>
    </article>


{% endfor %}
</div><hr>
{% endblock main%}