{% extends 'base.html.twig' %}
{# j'utilise la fonction form de twig et en paramétre formView pour afficher la vue de mon formulaire #}

{% block main%}
    {%  for message in app.flashes ('success') %}
        <p>{{ message }}</p>
    {% endfor %}
<h1 class="form_creer">Créer votre article</h1>
{# je crée un formulaire avec  form_start grace a cette fonction je vais pouvoir demander à sf  de
 generer un cabarit que je pourrai styliser avec bootstrap en placant chaque elements dans des div,
 #}

{{ form_start(formView, {attr: {novalidate: 'novalidate'}}) }}
        {# avec la fonction form_label je crée un label title  #}
     <div class="form-group col-md-2" id="article_title">
        {{ form_label(formView.title) }}
        {# avec la fonction form_widget je crée un input  #}
        {{ form_widget(formView.title,{ 'attr':{'class':'article_form_title'}}) }}
        {# avec le fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis dans les entités#}
        {{ form_errors(formView.title) }}
     </div>

     <div class="form-group col-md-2"id="article_content">
        {{ form_label(formView.content) }}
        {{ form_widget(formView.content,{ 'attr':{'class':'article_form_content'}}) }}
        {# avec le fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis dans les entités#}
        {{ form_errors(formView.content) }}
     </div>

     <div class="form-group col-md-2"id="article_image">
        {{ form_label(formView.image) }}
        {{ form_widget(formView.image,{ 'attr':{'class':'article_form_image'}}) }}
        {# avec le fonction form_errer me permet d'afficher les message d'erreur que j'ai definis dans les entités#}
        {{ form_errors(formView.image) }}
     </div>

     <div class="form-group col-md-2"id="pubdate">
         {{ form_label(formView.publicationDate) }}
         {{ form_widget(formView.publicationDate,{ 'attr':{'class':'article_form_pubdate'}}) }}
         {{ form_errors(formView.publicationDate) }}

     </div>

     <div class="form-group col-md-2"id=creatdate">
         {{ form_label(formView.creationDate) }}
         {{ form_widget(formView.creationDate,{ 'attr':{'class':'article_form_createdate'}}) }}
         {{ form_errors(formView.creationDate) }}
     </div>

     <div class="form-group col-md-2"id="ispub">
         {{ form_label(formView.isPublished) }}
         {{ form_widget(formView.isPublished,{ 'attr':{'class':'article_form_isPublished'}}) }}
     </div>

     <div class="form-group col-md-2"id="">
        {# ici je creer un input dans mon formulaire qui sera affichera les titres de mes categories #}
        {{ form_label(formView.Category) }}
        {{ form_widget(formView.Category,{ 'attr':{'class':'article_form_title'}}) }}
        {{ form_errors(formView.Category) }}
     </div>

      <div class="form-group col-md-2"id="val">
         {{ form_label(formView.valider) }}
         {{ form_widget(formView.valider,{ 'attr':{'class':'article_form_valider'}}) }}
      </div>
         {# form_end ferme mon formulaire #}


{{ form_end(formView) }}

{% endblock main%}